@model IEnumerable<CreditRiskAnalysisApp.Models.Company>

<h1>Companies</h1>

<!-- Success message (Only for this view) -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<a asp-action="Create" class="btn btn-primary mb-2">Create New Company</a>

<a asp-action="ExportCompaniesToCSV" asp-controller="Company" class="btn btn-success mb-2">
    Export Companies to CSV
</a>

<p>Total number of companies: <strong>@ViewBag.TotalCompanies</strong></p>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>UEN</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.UEN</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@company.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@company.Id" class="btn btn-danger">Delete</a> |
                    <a asp-action="ViewFinancialStatements" asp-route-companyId="@company.Id" class="btn btn-primary">View Company Financial Statement</a>
                </td>

            </tr>
        }
    </tbody>
</table>
